<h1>Enter new credential</h1>

<%= form_for [@user, @credential] do %>
  Name: <%= text_field_tag :name %><br>
  Number: <%= text_field_tag :number %><br>
  <%= submit_tag "Add" %><%= link_to "Cancel", user_path(@user) %>
<% end %>

